# Auto detect text files and perform LF normalization
* text=auto

# Documents
*.md text diff=markdown
*.txt text
*.pdf binary

# Source code
*.js text
*.jsx text
*.ts text
*.tsx text
*.json text
*.css text
*.scss text
*.html text

# Graphics
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.svg text

# Fonts
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary

# Archives
*.zip binary
*.tar.gz binary
*.tgz binary
*.rar binary
*.7z binary 